<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.list_it">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/listit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/listit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Listit">
        <activity
            android:name=".AccountActivity"
            android:exported="true" />
        <activity
            android:name=".VerListas"
            android:exported="true" />
        <activity
            android:name=".VerLista"
            android:exported="true" />
        <activity
            android:name=".CrearLista"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomActivity"
            android:exported="true"
            android:parentActivityName=".AuthActivity"></activity>
    </application>

</manifest>